<div class="dialog-header">
  <div class="row">
    <div class="col-sm-6"><h2 mat-dialog-title>Thông tin công việc</h2></div>
    <div class="col-1 offset-sm-5">
      <button mat-icon-button class="button-close" (click)="onNoClick()">
        <span class="material-symbols-rounded"> close </span>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col">
      <div class="info-field">
        <div class="info-title">Công việc</div>
        <div class="info-detail">
          <mat-form-field appearance="outline">
            <input
              matInput
              [ngModel]="data.operation_name.viewValue"
              disabled
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="info-field">
        <div class="info-title">Mã trạm</div>
        <div class="info-detail">
          <mat-form-field appearance="outline">
            <input matInput [ngModel]="data.station_code" disabled />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="info-field">
        <div class="info-title">Ngày bắt đầu làm việc</div>
        <div class="info-detail">
          <mat-form-field appearance="outline">
            <input matInput [value]="data.start_date" [disabled]="true" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
              disabled
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="info-field">
        <div class="info-title">Ngày hoàn thành</div>
        <div class="info-detail">
          <mat-form-field appearance="outline">
            <input matInput [value]="data.end_date" [disabled]="true" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
              disabled
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="info-title">Mô tả công việc</div>
      <div class="info-detail">
        <mat-form-field appearance="outline">
          <textarea matInput [ngModel]="data.note" disabled></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
