<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="logo">
      <a routerLink="home">
        <img src="../assets/MFS.png" alt="" />
      </a>
    </div>
    <mat-tree
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      class="example-tree"
    >
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        [ngClass]="{ 'is-active': node.is_active == true }"
      >
        <div class="option" *ngIf="isAdminOnly(node.name)">
          <button
            class="option-button"
            mat-button
            (click)="isActive(node.name); navigate(node.route)"
          >
            <nav>
              <a [routerLink]="node.route"></a>
            </nav>
            <span class="material-symbols-rounded option-icon">
              {{ node.icon }}
            </span>
            <span class="option-title"> {{ node.name }} </span>
          </button>
        </div>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <div
            class="option"
            [ngClass]="{ 'is-active': node.is_active == true }"
            matTreeNodeToggle
          >
            <button class="option-button" mat-button>
              <span class="material-symbols-rounded option-icon">
                {{ node.icon }}
              </span>
              <span class="option-title"> {{ node.name }} </span>
            </button>
          </div>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div
          [class.example-tree-invisible]="!treeControl.isExpanded(node)"
          role="group"
        >
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="row">
      <div class="col d-flex justify-content-start">
        <button mat-icon-button (click)="drawer.toggle()">
          <span class="material-symbols-rounded"> menu </span>
        </button>
      </div>
      <div class="col d-flex justify-content-center mat-title">
        QUẢN LÍ NHÀ TRẠM
      </div>
      <div class="col d-flex justify-content-end">
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <!-- Messages Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <span class="name" style="padding-right: 10px">{{
                currentUsername
              }}</span>
              <span class="avatar">
                <span class="material-symbols-outlined"> account_circle </span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <a class="dropdown-item" href="/change-password">
                <button mat-button>Đổi mật khẩu</button>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                <button mat-button (click)="logOut()">Đăng xuất</button>
              </a>
            </div>
          </li>
        </ul>

        <br />
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
