.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    // display: flex;
    height: 100%;
    // align-items: center;
    // justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .example-sidenav {
    // margin-left: 10px;
    // height: 1rem;
    width: 15%;
  }
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  // .example-tree .mat-nested-tree-node div[role=group] {
  //     padding-left: 23px;
  // }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role="group"] > .mat-tree-node {
    margin-left: 1.4rem;
  }
  
  .logo {
    width: 100%;
    height: 4rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .option {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
  }
  
  .mat-tree-node button {
    padding: 0;
  }
  
  .option-button {
    width: 100%;
    text-align: left;
  }
  
  .option-icon {
    color: #757575;
  }
  
  .option-title {
    margin-left: 1rem;
    color: #11180b;
  }
  
  .is-active {
    background-color: #7fb956;
    color: #ffffff;
  }
  .is-active .option-icon {
    color: #ffffff;
  }
  .is-active .option-title {
    color: #ffffff;
  }

  @media screen 
  and (max-device-width: 500px) 
  and (orientation: portrait) {
    .example-sidenav {
      // margin-left: 10px;
      // height: 1rem;
      width: 50%;
    }
}
  